<div class="app-container">
  <h1 class="app-title">Ana Beatriz Ribeiro</h1>

  <img class="app-image" src="assets/img/bia.jpeg">

  <div class="app-text">
    <p>Bia Ribeiro é jornalista formada pela Universidade Federal do Rio de Janeiro (UFRJ).</p>

    <p>Atua como editora de conteúdo digital na Rádio Novelo, uma produtora brasileira de podcasts jornalísticos. Suas
      atribuições são: estratégia digital, que inclui sistematizar a identidade visual, site e comunicação dentro dos
      aplicativos de áudio; distribuição; produção de relatórios de audiência; planejamento e elaboração de conteúdo
      para
      os
      canais de divulgação, e análise das métricas de redes sociais.</p>

    <p>Nasceu no Rio de Janeiro, em maio de 1996.</p>

    <ul>
      <li>Responsável pela estratégia de promoção, distribuição e conteúdo digital do podcast projeto Querino, uma
        parceria
        entre o jornalista Tiago Rogero, a Rádio Novelo e a revista piauí, com apoio do Instituto Ibirapitanga. Saiba
        mais
      </li>

      <li>Editora de conteúdo digital do podcast Vidas Negras, um original Spotify produzido pela Rádio Novelo. Ouça
        aqui.
        Veja o conteúdo de divulgação neste perfil.</li>

      <li>Coordenadora digital do podcast Essa Geração, da Fundação Tide Setuba, com produção da Rádio Novelo. Ouça
        aqui.
      </li>

      <li>Editora de redes sociais do podcast Praia dos Ossos, da Rádio Novelo. Ouça aqui. Veja o conteúdo de divulgação
        neste perfil.</li>

      <li>Editora de redes sociais do podcast Crime e Castigo, da Rádio Novelo. Ouça aqui. Veja o conteúdo de divulgação
        neste perfil.</li>
    </ul>

    <ul class="app-social-media">
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
    </ul>
  </div>
</div>