<div class="app-container">
  <h1 class="app-title">Bia Ribeiro</h1>

  <img class="app-image" src="assets/img/bia.jpeg">

  <div class="app-text">
    <p>Bia Ribeiro is a journalist who has graduated from the Federal University of Rio de Janeiro (UFRJ).</p>

    <p>She currently works as product and audience coordinator at Rádio Novelo, a Brazilian journalistic podcast
      production company. Her responsibilities are digital strategy, which includes systematizing the digital presence
      of the company's podcasts, communication with different audio platforms; distribution; audience reports; planning
      and preparing content for promotional channels, and social media metrics analyses.</p>

    <p>Born in Rio de Janeiro in May 1996.</p>

    <h2 class="app-title">Portfolio</h2>

    <ul class="app-works">
      <li>Responsible for the promotion strategy, distribution and digital content of the <a
          href="https://radionovelo.com.br/originais/apresenta/" target="_blank">Rádio Novelo Apresenta</a>
        podcast, an original from Rádio Novelo, with weekly narrative episodes. <a
          href="https://radionovelo.com.br/originais/apresenta/" target="_blank">Read
          more</a>.
      </li>
      <li class="app-works-separator"></li>
      <li>Responsible for the promotion strategy, distribution and digital content of the <a
          href="https://projetoquerino.com.br/english/" target="_blank">projeto Querino</a> podcast, a
        partnership between journalist Tiago Rogero, Rádio Novelo and Revista Piauí, with the support of the
        Ibirapitanga Institute. <a href="https://projetoquerino.com.br/english/" target="_blank">Read more</a>.</li>
      <li class="app-works-separator"></li>
      <li>Digital content editor for the <a
          href="https://open.spotify.com/show/0qycUnfp92MidYXzMC8t0W?si=5b07f6532c634028" target="_blank">Vidas Negras
          podcast</a>, a Spotify original
        produced by Rádio Novelo. <a href="https://open.spotify.com/show/0qycUnfp92MidYXzMC8t0W?si=18e3a2a382034972"
          target="_blank">Listen here</a>.
        See the promotional content on <a href="https://www.instagram.com/p/CHGs-J7Ju9l/" target="_blank">this
          profile</a>.
      </li>
      <li class="app-works-separator"></li>
      <li>Digital coordinator of the <a href="https://fundacaotidesetubal.org.br/podcastessageracao/"
          target="_blank">Essa Geração</a> podcast, from the Tide Setubal
        Foundation, produced by Rádio Novelo.
        <a href="https://fundacaotidesetubal.org.br/podcastessageracao/" target="_blank">Listen here</a>.
      </li>
      <li class="app-works-separator"></li>
      <li>Social media editor for Radio Novelo's <a href="https://radionovelo.com.br/originais/crimeecastigo/"
          target="_blank">Crime e Castigo</a> podcast. <a href="https://radionovelo.com.br/originais/crimeecastigo/"
          target="_blank">Listen here</a>. See the promotional
        content in
        <a href="https://www.instagram.com/p/CbfEZ6gj9OQ/" target="_blank">this profile</a>.
      </li>
    </ul>

    <ul class="app-social-media">
      <li><a href="https://twitter.com/biarrib" target="_blank"><i class="fab fa-twitter"></i></a></li>
      <li><a href="https://www.linkedin.com/in/anabeatriz-ribeiro/" target="_blank"><i class="fab fa-linkedin"></i></a>
      </li>
    </ul>
  </div>
</div>