<div class="app-container">
    <h1 class="app-title">Bia Ribeiro</h1>

    <img class="app-image" src="assets/img/bia.jpeg">

    <div class="app-text">
        <p>Bia Ribeiro é jornalista formada pela Universidade Federal do Rio de Janeiro (UFRJ).</p>

        <p>Atua como coordenadora de produto e audiência na <a href="https://www.radionovelo.com.br/"
                target="_blank">Rádio Novelo</a>, uma produtora brasileira de podcasts
            jornalísticos. Suas atribuições são: estratégia digital, que inclui sistematizar a presença digital dos
            podcasts da produtora, comunicação com outras plataformas de áudio; distribuição; produção de relatórios de
            audiência; planejamento e elaboração de conteúdo para os canais de divulgação, e análise das métricas de
            redes sociais.
        </p>

        <p>Nasceu no Rio de Janeiro, em maio de 1996.</p>

        <h2 class="app-title">Portfólio</h2>

        <ul class="app-works">
            <li>Responsável pela estratégia de promoção, distribuição e conteúdo digital do podcast <a
                    href="https://radionovelo.com.br/originais/apresenta/" target="_blank">Rádio
                    Novelo
                    Apresenta</a>, uma original da Rádio Novelo, com episódios narrativos semanais. <a
                    href="https://radionovelo.com.br/originais/apresenta/" target="_blank">Saiba
                    mais</a>.
            </li>
            <li class="app-works-separator"></li>
            <li>Responsável pela estratégia de promoção, distribuição e conteúdo digital do podcast <a
                    href="https://projetoquerino.com.br/creditos/" target="_blank">projeto
                    Querino</a>, uma
                parceria entre o jornalista Tiago Rogero, a Rádio Novelo e a revista piauí, com apoio do Instituto
                Ibirapitanga. <a href="https://projetoquerino.com.br/" target="_blank">Saiba mais</a>.
            </li>
            <li class="app-works-separator"></li>
            <li>Editora de conteúdo digital do podcast <a
                    href="https://open.spotify.com/show/0qycUnfp92MidYXzMC8t0W?si=83797cf99b6945e1"
                    target="_blank">Vidas Negras</a>, um original Spotify produzido pela
                Rádio Novelo.
                Ouça <a href="https://open.spotify.com/show/0qycUnfp92MidYXzMC8t0W?si=58d6e5b73fd447a6"
                    target="_blank">aqui</a>. Veja o conteúdo de divulgação <a
                    href="https://www.instagram.com/p/CHGs-J7Ju9l/" target="_blank">neste perfil</a>.
            </li>
            <li class="app-works-separator"></li>
            <li>Coordenadora digital do podcast <a href="https://fundacaotidesetubal.org.br/podcastessageracao/"
                    target="_blank">Essa Geração</a>, da Fundação Tide Setubal, com produção da
                Rádio Novelo.
                <a href="https://fundacaotidesetubal.org.br/podcastessageracao/" target="_blank">Ouça aqui</a>.
            </li>
            <li class="app-works-separator"></li>
            <li>Editora de redes sociais do podcast <a href="https://www.radionovelo.com.br/praiadosossos/"
                    target="_blank">Praia dos Ossos</a>, da Rádio Novelo. Ouça <a
                    href="https://www.radionovelo.com.br/praiadosossos/" target="_blank">aqui</a>. Veja o conteúdo de
                divulgação <a href="https://www.instagram.com/p/CErOdLlHiLl/" target="_blank">neste perfil</a>.
            </li>
            <li class="app-works-separator"></li>
            <li>Editora de redes sociais do podcast <a href="https://www.radionovelo.com.br/crimeecastigo/"
                    target="_blank">Crime e Castigo</a>, da Rádio Novelo. Ouça
                <a href="https://www.radionovelo.com.br/crimeecastigo/" target="_blank">aqui</a>. Veja o conteúdo de
                divulgação <a href="https://www.instagram.com/p/CbfEZ6gj9OQ/" target="_blank">neste perfil</a>.
            </li>
        </ul>

        <ul class="app-social-media">
            <li><a href="https://twitter.com/biarrib" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/in/anabeatriz-ribeiro/" target="_blank"><i
                        class="fab fa-linkedin"></i></a>
            </li>
        </ul>
    </div>
</div>