/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: CreatoDisplayLight;
    src: url(./assets/fonts/creato_display/CreatoDisplay-Light.otf);
}

@font-face {
    font-family: CreatoDisplayBold;
    src: url(./assets/fonts/creato_display/CreatoDisplay-Bold.otf);
}

* {
    font-family: CreatoDisplayLight, sans-serif;
}

:focus-visible {
    outline: none;
}

body {
    --text-color: #000;
    --background-color: #fff;
}

body.dark-theme {
    --text-color: #fff;
    --background-color: #000;
}

body {
    background-color: var(--background-color);
}

h1, h2, p, li, a {
    color: var(--text-color);
}
